<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>MainPageForUser</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" th:inline="text" th:href="@{/css/buy.css}" />
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
			src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>


</head>
<body>
<div class="container">
	<div class="navbar navbar-default " >
		<ul class="nav navbar-nav pull-right">
			<li><a href="/home_user">Home</a></li>
			<li><a href="/buy" class="active">Subscription/Tickets</a></li>
			<li><a href="/routes">Routes</a></li>
			<li><a href="/user_account">My Account</a></li>
			<li><a href="/login">Logout</a></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="layer">
				<h2 >Creare Abonament -Calatorii</h2>

				<label class="subscription_option" for="tickets_subscription">Nr. calatorii dorite</label>
				<select class="subscription_option" id = "tickets_subscription" name="calatorii" >
					<option value="default">Introduceti numarul</option>
					<option value="30">30 calatorii</option>
					<option value="60">60 calatorii</option>
					<option value="90">90 calatorii</option>
					<option value="120">120 calatorii</option>
					<option value="nelimitat">Nelimitat</option>
				</select>

				<div class="text-center">
					<button id= "buyTripSub" type="button" class="btn btn-danger"><a class="link">Finalizati actiunea!</a></button>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div id="one_line" class="layer">
				<h2 >Creare Abonament -  O Linie</h2>


				<label class="subscription_option" for="one_line_option">Pick route:</label>
				<select class="subscription_option" id = "one_line_option" th:field="*{routes}">
					<option th:each="route: ${routes}" th:value="${route.id}" th:text="${route.alias}">
					</option>
				</select>
<!--				<select class="subscription_option" id = "tickets_subscription1" name="oLinie"  >-->
<!--					<option value="default">Introduceti numarul liniei</option>-->
<!--					<option value="L1">Linia 1</option>-->
<!--					<option value="L2">Linia 2</option>-->
<!--					<option value="L3">Linia 3</option>-->
<!--					<option value="L4">Linia 4</option>-->
<!--					<option value="L5">Linia 5</option>-->
<!--				</select>-->

				<div class="text-center">
					<button id= "buy1RouteSub" type="button" class="btn btn-danger"><a class="link">Done</a></button>
				</div>
			</div></div>
		<div class="col-md-4">
			<div class="layer">
				<h2 >Subscribe to 2 routes</h2>
				<label class="subscription_option" for="two_lines_option_1">Pick routes:</label>
				<select class="subscription_option" id = "two_lines_option_1" th:field="*{routes}">
					<option th:each="route: ${routes}" th:value="${route.id}" th:text="${route.alias}">
					</option>
				</select>
<!--				<select class="subscription_option" id = "two_lines_option" name="2Linii"  >-->
<!--					<option value="default">Introduceti numarul liniei</option>-->
<!--					<option value="L1">Linia 1</option>-->
<!--					<option value="L2">Linia 2</option>-->
<!--					<option value="L3">Linia 3</option>-->
<!--					<option value="L4">Linia 4</option>-->
<!--					<option value="L5">Linia 5</option>-->
<!--				</select>-->

				<select class="subscription_option" id = "two_lines_option_2" th:field="*{routes}">
					<option th:each="route: ${routes}" th:value="${route.id}" th:text="${route.alias}">
					</option>
				</select>
				<div class="text-center">
					<button id= "buy2RoutesSub" type="button" class="btn btn-danger"><a class="link">Finalizati actiunea!</a></button>
				</div>
			</div></div>
	</div>
	<div class="layer" id="layer1">

		<h2 >Buy Tickets</h2>
		<br>
		<div class="input-group">
			<span class="input-group-addon">Number of tickets </span>
			<input id="ticketQuantity" type="number" name="number" min="1" max="100" class="form-control" placeholder="Number of tickets">

		</div>
		<div class="text-right">
			<button id="buyTicket" type="button" class="btn btn-warning"><a class="link">Finish!</a></button>
		</div>
	</div>
</div>
<script th:src="@{/js/buy.js}"></script>
</body>
</html>