<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>MainPageForUser</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" th:inline="text" th:href="@{/css/buy.css}" />
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">
    <script src="js/bootstrap/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>
<div class="container">
	<div class="navbar navbar-default " >
		<ul class="nav navbar-nav pull-right">
			<li><a href="pageForUser.html">Acasa</a></li>
			<li><a href="">Linii</a></li>
			<li><a href="">Contul meu</a></li>
			<li><a href="login.html">Logout</a></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="layer">
				<h2 >Creare Abonament -Calatorii</h2>


				<button tabindex="-1" class="btn btn-default" type="button">Introduceti numarul de calatorii dorite:</button>
				<button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">

					<select name="calatorii" >
						<option value="default">Introduceti numarul</option>
						<option value="30cal">30 calatorii</option>
						<option value="60cal">60 calatorii</option>
						<option value="90cal">90 calatorii</option>
						<option value="120cal">120 calatorii</option>
						<option value="nelimitat">Nelimitat</option>
					</select>
				</button>
				<br><br><br><br>
				<div class="text-right">
					<button type="button" class="btn btn-danger"><a class="link" href="/userPage">Finalizati actiunea!</a></button>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="layer">
				<h2 >Creare Abonament -O Linie</h2>


				<button tabindex="-1" class="btn btn-default" type="button">Introduceti linia dorita:</button>
				<button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">

					<select name="oLinie" >
						<option value="default">Introduceti numarul liniei</option>
						<option value="30cal">30 calatorii</option>
						<option value="60cal">60 calatorii</option>
						<option value="90cal">90 calatorii</option>
						<option value="120cal">120 calatorii</option>
						<option value="nelimitat">Nelimitat</option>
					</select>
				</button>
				<br><br><br><br>
				<div class="text-right">
					<button type="button" class="btn btn-danger"><a class="link" href="/userPage">Finalizati actiunea!</a></button>
				</div>
			</div></div>
		<div class="col-md-4"><div class="layer">
			<h2 >Creare Abonament -Doua Linii</h2>



			<button tabindex="-1" class="btn btn-default" type="button">Introduceti liniile dorita:</button>
			<button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">

				<select name="2Linii" >
					<option value="default">Introduceti numarul primei linii</option>
					<option value="30cal">30 calatorii</option>
					<option value="60cal">60 calatorii</option>
					<option value="90cal">90 calatorii</option>
					<option value="120cal">120 calatorii</option>
					<option value="nelimitat">Nelimitat</option>
				</select>
			</button>
			<button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">

				<select name="marime" >
					<option value="default">Introduceti numarul liniei2</option>
					<option value="30cal">30 calatorii</option>
					<option value="60cal">60 calatorii</option>
					<option value="90cal">90 calatorii</option>
					<option value="120cal">120 calatorii</option>
					<option value="nelimitat">Nelimitat</option>
				</select>
			</button>
			<br><br>
			<div class="text-right">
				<button type="button" class="btn btn-danger"><a class="link" href="/userPage">Finalizati actiunea!</a></button>
			</div>
		</div></div>
	</div>
	<div class="layer" id="layer1">

		<h2 >Achizitionare bilete</h2>
		<br>
		<div class="input-group">
			<span class="input-group-addon">Numarul de bilete dorite </span>
			<input type="number" name="phoneNumber" class="form-control" placeholder="Numarul de bilete dorite">
			</button>
		</div>
		<br><br>
		<div class="text-right">
			<button type="button" class="btn btn-success"><a class="link" href="/userPage">Finalizati actiunea!</a></button>
		</div>
	</div>
</div>
</body>
</html>