<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>MainPageForAdmin</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" th:inline="text" th:href="@{/css/admin.css}">
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">
	<script src="js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
  <div class="navbar navbar-default fixed" > 	ADMIN PANEL
        <div class="nav navbar-nav pull-right">
	      <ul class="list">
		  <li><a href="/myAccountAdmin" class="myAccount"><i class="glyphicon glyphicon-user"></i> My Account </a></li>
		  <li><a href="/login" class="logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
		  </ul>
		</div>
	 </div>
</div>
<div class="row">
	<div class="col-md-2">
		<div class="layer">
		 <ul class="list1">
		    <li><a class="list2" href="/tranzactii"><i class="glyphicon glyphicon-pencil"></i> Vizualizare Tranzactii</li>
			<li><a class="list2" href="/editUserAccount"><i class="glyphicon glyphicon-pencil"></i> Gestionare utilizatori</li>
			<li><a class="list2" href="/adaugareRute"><i class="glyphicon glyphicon-pencil"></i> Gestionare rute</li>
			<li><a class="list2" href="/modificareTraseu"><i class="glyphicon glyphicon-pencil"></i> Administrare abonamente</li>
			<li><a class="list2" href="/modificareTraseu"><i class="glyphicon glyphicon-pencil"></i> Aplicare reducere</li>
		 </ul>
		</div>
    </div>
	<div class="col-md-10">
		  <img class="image" src="../images/admin1.png">
	</div>
	<div class="col-md-2">
	</div>
</div>
  
</body>

</html>
