<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>MainPageForAdmin</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" th:inline="text" th:href="@{/css/admin.css}">
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">
	<script src="js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
  <div class="navbar navbar-default fixed" > 	ADMIN PANEL
        <ul class="nav navbar-nav pull-right">
			  <li><a href=""><i class="glyphicon glyphicon-pencil"></i>See Transactions</a></li>
			  <li><a href="/manage_users"><i class="glyphicon glyphicon-pencil"></i>Manage Users</a></li>
			  <li><a href="/manage_routes"><i class="glyphicon glyphicon-pencil"></i>Manage Routes</a></li>
			  <li><a href="/manage_stations"><i class="glyphicon glyphicon-pencil"></i>Manage Stations</a></li>
	     		<li><ul class="list">
				 <li><a href="/myAccountAdmin" class="myAccount"><i class="glyphicon glyphicon-user"></i> My Account </a></li>
		 		 <li><a href="/login" class="logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
		 	 </ul></li>
			</ul>
		</ul>
	 </div>
</div>
<div class="row">
	<div class="col-md-2">
    </div>
	<div class="col-md-10">
		  <img class="image" src="../images/admin1.png">
	</div>
	<div class="col-md-2">
	</div>
</div>

</body>

</html>
