<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Manage stations</title>
    <meta charset="UTF-8"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/r-2.2.6/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/r-2.2.6/datatables.min.js"></script>
</head>
<body>

<select style="display: none" id = "stations" th:field="*{stations}">
    <option th:each="station: ${stations}" th:value="${station.id}" th:text="${station.name}">
    </option>
</select>

<table class = "cell-border display compact" id="routes_table">
    <thead>
    </thead>
    <tbody>
    </tbody>
</table>

<script th:src="@{/js/manage_routes.js}"></script>

</body>
</html>