<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MainPageForUser</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:inline="text" th:href="@{/css/routes.css}">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="navbar navbar-default fixed">
        <ul class="nav navbar-nav pull-right">
            <li><a href="/home_user">Home</a></li>
            <li><a href="/buy">Subscription/Tickets</a></li>
            <li><a href="/routes" class="active">Routes</a></li>
            <li><a href="/user_account" >My Account</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>
    </div>
</div>
    <div class="space">
    <div class="row">
        <div class="col-md-2">
            <div class="routes">
            <input readonly id="route" type="text" class="form-control" value="Linia 1"></input>
                <input readonly id="route1" type="text" class="form-control" value="Linia 2"></input>
                  <input readonly id="route2" type="text" class="form-control" value="Linia 3"></input>
            </div>
        </div>
        <div class="container">
        <div class="col-md-10">
            <div class="layer">
                <h3>Informatii despre linia X</h3>
            </div>
        </div>
    </div>
    </div>
</div>
</body>



</div>
</body>