<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MainPageForUser</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:inline="text" th:href="@{/css/routes.css}">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="navbar navbar-default fixed">
        <ul class="nav navbar-nav pull-right">
            <li><a href="/home_user">Home</a></li>
            <li><a href="/buy">Subscription/Tickets</a></li>
            <li><a href="/routes" class="active">Routes</a></li>
            <li><a href="/user_account">My Account</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>
    </div>
</div>
<div class="space">
    <div class="row">
        <div class="col-md-2">

            <div class="routes" th:field="*{routes}">
                <button th:each="route: ${routes}" th:value="${route.id}" th:text="${route.alias}"></button>
            </div>

        </div>

        <div class="container">
            <div class="col-md-10">
                <div class="layer">
                    <div class="info_container" th:field="*{routes}">
                        <div style="display: none" class = "route_info" th:each="route: ${routes}" th:id="${route.id}">
                            <div class = "route_number">
                                <strong>Route number:
                                    <span th:text="${route.alias}"></span>
                                </strong>
                            </div>
                            <div class = "route_stations">
                                <span> Stations: </span>
                                <span th:each="station: ${route.stations}">
                                    <span th:text="${station.name}"></span>
                                </span>
                            </div>
                            <div class = "timetable" th:attr="startingHour=${route.startingHour}, endingHour=${route.endingHour}, routeInterval=${route.routeInterval}">
                                <h3>Timetable</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th th:text="${route.stations[0].name}"></th>
                                            <th th:text="${route.stations[#lists.size(route.stations) - 1].name}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

<script th:src="@{/js/routes.js}"></script>

</body>