<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MainPageForUser</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:inline="text" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="navbar navbar-default fixed">
        <ul class="nav navbar-nav pull-right">
            <li><a href="/home_user">Acasa</a></li>
            <li><a href="/buy">Abonamente/Bilete</a></li>
            <li><a href="">Linii</a></li>
            <li><a href="/user_account">Contul meu</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>

    </div>
    <div class="space">
        <div class="row">
            <div class="col-md-3">
                <img class="photo" th:src=${loggedUser.image}>---Poza userului din db-
                <div class="btn btn-warning">Schimba poza</div>
                </a>
            </div>

            <div class="col-md-7">
                <div class="layer">
                    <div class="input-group">
                        <label for="first_name" >First name</label>
                        <input readonly id="first_name" type="text" class="form-control" th:value="${loggedUser.lastName}">
<!--                        &#45;&#45;&#45;&#45;&#45;&#45;Nume utilizator luat din baza de date,nu poate fi schimbat pe parcurs de utilizator!-->
                    </div>
                    <div class="input-group">
                        <label for="last_name" >Last name</label>
                        <input readonly id="last_name" type="text" class="form-control" th:value="${loggedUser.firstName}">
<!--                        &#45;&#45;&#45;&#45;&#45;&#45;Prenume utilizator luat din baza de date &#45;&#45;II&#45;&#45;-->
                    </div>
                    <div class="input-group">
                        <input id="address" type="text"  class="form-control" th:value="${loggedUser.firstName}">
<!--                        <div class="input-group-addon"><p th:text="${loggedUser.address}"></p></div>-->
<!--                        &#45;&#45;&#45;&#45;&#45;&#45;Adresa utilizator luat din baza de date&#45;&#45;poate fi schimbata-->
                    </div>
                    <div class="input-group">
                        <input id="phone_number" type="text" class="form-control">
                        <div class="input-group-addon"><p th:text="${loggedUser.phoneNumber}"></p></div>
<!--                        &#45;&#45;&#45;&#45;&#45;&#45;Nume utilizator luat din baza de date-->
                    </div>
                    <div class="input-group">
                        <input id="email" type="text" class="form-control">
                        <div class="input-group-addon"><p th:text="${loggedUser.email}"></p></div>
<!--                        &#45;&#45;&#45;&#45;&#45;&#45;Email luat din baza de date-->
                    </div>

                </div>
            </div>
            <div class="col-md-2">
<!--                <button type="button" class="btn btn-primary"> Optiuni USER</button>-->
<!--                <br><br>-->
<!--                <button type="button" class="btn btn-warning">Schimba adresa</button>-->
<!--                <br><br>-->
<!--                <button type="button" class="btn btn-warning">Schimba numar</button>-->
<!--                <br><br>-->
<!--                <button type="button" class="btn btn-warning">Schimba email</button>-->
<!--                <br><br>-->
<!--                <button type="button" class="btn btn-warning">Schimba parola</button>-->
<!--                <br><br>-->
                <button type="button" class="btn btn-warning">Save changes</button>
            </div>
        </div>
    </div>
</div>
</body>
