<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MainPageForUser</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:inline="text" th:href="@{/css/user_account.css}">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="navbar navbar-default fixed">
        <ul class="nav navbar-nav pull-right">
            <li><a href="/home_user">Home</a></li>
            <li><a href="/buy">Subscription/Tickets</a></li>
            <li><a href="/routes">Routes</a></li>
            <li><a href="/user_account" class="active">My Account</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>

    </div>
    <div class="space">
        <div class="row">
            <div class="col-md-3">
                <img class="photo" th:src=${loggedUser.image}>
                <div class="text-right">
                    <div class="btn btn-warning">Schimba poza</div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="layer">
                    <div class="row">
                       <div class="col-xs-2">
                           <label for="first_name" >First name </label></div>
                        <div class="col-xs-10">
                            <input readonly id="first_name" type="text" class="form-control" th:value="${loggedUser.lastName}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="last_name" >Last name</label></div>
                        <div class="col-xs-10">
                        <input readonly id="last_name" type="text" class="form-control" th:value="${loggedUser.firstName}">
<!--                        &#45;&#45;&#45;&#45;&#45;&#45;Prenume utilizator luat din baza de date &#45;&#45;II&#45;&#45;-->
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="address" >Address</label></div>
                        <div class="col-xs-10">
                        <input id="address" type="text"  class="form-control" th:value="${loggedUser.address}">
<!--                        <div class="input-group-addon"><p th:text="${loggedUser.address}"></p></div>-->
<!--                        &#45;&#45;&#45;&#45;&#45;&#45;Adresa utilizator luat din baza de date&#45;&#45;poate fi schimbata-->
                        </div></div>
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="phone_number" >Phone Number</label></div>
                        <div class="col-xs-10">
                            <input id="phone_number" type="text"  class="form-control" th:value="${loggedUser.phoneNumber}">
                           <!-- <input id="phone_number1" type="text" class="form-control" placeholder="Your new phone-number"> -->
                        </div>
                    </div>

<!--                        &#45;&#45;&#45;&#45;&#45;&#45;Nume utilizator luat din baza de date-->
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="email" >Email</label></div>
                        <div class="col-xs-10">
                            <input id="email" type="text"  class="form-control" th:value="${loggedUser.email}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="password" >Current Password</label></div>
                        <div class="col-xs-10">
                            <input id="password" type="password"  class="form-control" placeholder="Your current password:">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="new_password" >Change Password</label></div>
                        <div class="col-xs-10">
                            <input id="new_password" type="password"  class="form-control" placeholder="Your new password:">
                            <div class="repeat">
                            <input id="corfirmed_password" type="password"  class="form-control" placeholder="Confirm New Password">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-warning">Save changes</button>
            </div>
        </div>
    </div>
</div>
</body>
